body{
    background-color:#9FA8DA;
    font-family:sans-serif;
}
h1{
    color: white;
    text-align: center;
}
#logo:hover{
    filter: brightness(80%);
}
.title{
    margin-top:2.4vw;
}
.mainbox{
    border-color:#5C6BC0;
}
.queryBox{
    text-align:center;
}
.topBar{
    height: 50px;
    background-color:#5C6BC0;
}
.panel{
    border-color:#5C6BC0;
    background-color:#E8EAF6;
}
.panel > .panel-heading{
    background-color:#5C6BC0;
}

@media screen and (max-width: 800px){
    .title{
        margin-top:5vw;
    }
    .container{
        padding-top: 10vw;
    }
}
.panel-title{
    color:white;
    font-size:150%;
}
#logo{
    height: 50px;
    width: 55px;
    padding-left:5px;
}
.input-group{
    text-align: center;
    margin:auto;
}
#settings {
    font-size: 40px;
    float:right;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
    color: white;
}
.panel-title{
    text-align:center;
}
.form-group{
    text-align:center;
}
.form-control{
    height: 50px;
}
.useButton{
    padding-left:50px;
    padding-right:50px;
    padding-top: 10px;
    padding-bottom:10px;
}
.container{
    margin-top:5vw;
}
.btn-success{
    font-size:130%;
}
.roomDetails{
    font-size:180%;
    text-align:center;
}
#RDTitle{
    font-size:100%;
}
#RDTime{
    font-size: 140%;
    padding-top: 40px;
}
//div ul{height:50%; width:25%;}
//div ul{overflow:hidden; overflow-y:scroll;-webkit-overflow-scrolling: touch;}
.list * {
  box-sizing: border-box;
}
.list ul {
  position: absolute;
  width: 40%;
  height: 90%;
  overflow: scroll;
  margin: 0;
  padding: 0;
  border: 2px solid #ccc;
  font-size: 16px;
  font-family: Arial, sans-serif;  
  -webkit-overflow-scrolling: touch;
}
.list ol {
  position: absolute;
  width: 40%;
  height: 90%;
  overflow: scroll;
  margin: 0;
  padding: 0;
  border: 2px solid #ccc;
  font-size: 16px;
  font-family: Arial, sans-serif;  
  -webkit-overflow-scrolling: touch;
}
.list li {
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}
.submissionblock {
  position: absolute;
  left: 50%;
  float: left;
  padding: 10px;
}
.panel p {
  position: absolute;
  left: 50%;
  float: left;
  padding: 10px;
}
.list li {
  padding: 10px 20px;
  
  border-bottom: 1px solid #ccc;
  
}
.submissionblock #updatedq{
  padding-top: 10px;
  resize: none;
}
.question {
  position: absolute;
  left: 63%;
  float: left;
  margin-top: 50px;
}
