
body{
	background-color:#9FA8DA;
}

h1{
	color: white;
	text-align: center;
}



.queryBox{
	text-align:center;
}

.topBar{
	background-color:#5C6BC0;
}

.panel-title{
	text-align:center;
}

.form-group{
	text-align:center;
}