body{
    background-color:#9FA8DA;
    font-family:sans-serif;

}
h1{
    color: white;
    text-align: center;
}

.title{
    margin-top:2.4vw;
}
/* these styles are for the boxes on the login and room select pages */
.mainbox{
    border-color:#5C6BC0;
}
.queryBox{
    text-align:center;
}
.topBar{
    height: 50px;
    background-color:#5C6BC0;
}
.panel{
    border-color:#5C6BC0;
    background-color:#E8EAF6;
}
.panel > .panel-heading{
    background-color:#5C6BC0;
}

@media screen and (max-width: 800px){
    .title{
        margin-top:5vw;
    }
    .container{
        padding-top: 10vw;
    }
}
.panel-title{
    color:white;
    font-size:150%;
	text-align:center;
}

/* style for the dog logo */
#logo{
    height: 50px;
    width: 55px;
    padding-left:5px;
}
#logo:hover{
    filter: brightness(80%);
}
#logo:active{
    filter: brightness(50%);
}


.input-group{
    text-align: center;
    margin:auto;
}
#settings {
    font-size: 40px;
    float:right;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
    color: white;
}

.form-group{
    text-align:center;
}
.form-control{
    height: 50px;
}
.useButton{
    padding-left:50px;
    padding-right:50px;
    padding-top: 10px;
    padding-bottom:10px;
	background-color: #79c6ce;
	border-color: #528b91;
	color: black;
}
.useButton:hover{
	background-color: #85dce5;
	color: black;
}
.container{
    margin-top:5vw;
}
.btn-success{
    font-size:130%;
}

/* style for the room details on select-room screen */
.roomDetails{
    font-size:180%;
    text-align:center;
}
#RDTitle{
    font-size:100%;
}
#RDTime{
    font-size: 140%;
    padding-top: 40px;
}



#sessionName {
	padding-bottom: 10px;
	text-align: center;
}


#optionsButtons{
  position: relative;
  bottom: 50px;	
  padding-left: 10px; 
  padding-bottom: 30px; 
  padding-top: 30px;
  display: inline-block;  
}
#optionsButtons *{
	/*background-color: #79c6ce;
	border-color: #528b91;
	color: black; */
	margin-right: 10px;
	display: inline-block;

}
/* styles for question lists */
//div ul{height:50%; width:25%;}
//div ul{overflow:hidden; overflow-y:scroll;-webkit-overflow-scrolling: touch;}
#selections {
	width: 60vw;
  position: relative;
  bottom: 65px;	
  height: 75vh;  
}
.list {
	width: 60vw;
}

.list * {
  box-sizing: border-box;
}
.list ul {
  position: absolute;
  width: 40%;
  height: 90%;
  overflow: scroll;
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-family: Arial, sans-serif;  
  -webkit-overflow-scrolling: touch;
}
.list ol {
  position: absolute;
  width: 40%;
  height: 90%;
  overflow: scroll;
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-family: Arial, sans-serif;  
  -webkit-overflow-scrolling: touch;
}
.list li {
  padding: 10px 20px;
  border-bottom: 1px solid #5C6BC0;
  
}
.skinnyList ul{
	width: 30%
}

.skinnyList ol{
	width: 30%
}
.submissionBlock {
  position: fixed;
  right: 1vw;
  
  top: 20vh;

}
.viewBlock{
	position: fixed;
	top: 30vh;
	right: 8vw;
	
}



.list-group-item{
	background-color: #e8eaf6;
	border-color: #5c6bc0;
}

.submissionblock {
    width: 20vw;
}
/* end of question list styles */

#accepting{
	
}



/* submit and delete buttons */



#submitBtn {
	background-color: #1dba68;
	border-color: #258265;
}
#submitBtn:hover{
	background-color: #15a55a;
}
#deleteBtn {
	background-color: #e83e3e;
	border-color: #a52b2b
}
#deleteBtn:hover{
	background-color: #cc0404;
}





.panel p {
  position: absolute;
  left: 50%;
  float: left;
  padding: 10px;
}

.submissionBlock #updatedq{
  padding-top: 10px;
  
}
textarea{
	resize: none;
}

.question {
  position: absolute;
  left: 63%;
  float: left;
  margin-top: 50px;
}

.form-control{
	resize: none;
}
/* End of question elements styles */



/* override the bootstrap colours for the back button */
#backButton{
	text-align:center;
	background-color: #79c6ce;
	border-color: #528b91;
	color: black;
}